@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
body{
    background-color: #282A36;
    color: white;
}
div.superhead{
    text-align: center;
}
div.head{
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size:140px;
}
div.nav{
    text-align: center;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.button {
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 230px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

.button:hover{
    opacity: 0.8;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button:hover span {
    padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
a.butt{
    color: white;
    text-decoration: none;
    
}
div.commands{
    font-family: Roboto;
    color:#7289DA;
}
li.item{
    list-style-type:none;
    font-size: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul.sub{
    font-size: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: disc;
    color:#c6d2fd;
}
span.subsub{
    color:#e8e8eb;
    padding-left: 10px;
    font-size: 25px;
}
span.cmd{
    background-color:#313336;
    color:#D1DDBE;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 22px;
}
li.tt{
    padding-bottom: 5px;
    padding-top: 5px;
}
div.tst{
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size:75px;
}
img.img{
    border-radius: 20px;
}
div.pics{
    font-family: Roboto;
    font-size: 50px;
    padding-top: 70px;
}
div.tsst{
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size:50px;
}
img.image{
    border-radius: 200px;
}
#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
    background-color: #333;
    color: #fff;  
}
  
@media(max-width: 992px) {
    .container { padding: 20px 100px; }
    #back-to-top-btn { font-size: 22px; width: 40px; height: 40px; bottom: 15px; right: 15px; }
}
@media(max-width:768px) {
    body { font-size: 16px; }
    .container { padding: 10px 50px; }
    h1 { font-size: 26px; }
    h2 { font-size: 22px; }
    hr { margin: 30px 0; }
    #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }
}
  
  /* Animations */
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}
  /* zoomIn */
  /* @keyframes btnEntrance { 
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
      opacity: 1;
    }    
  } */
  
  /* fadeInUp */
@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
  
.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
}
  /* zoomOut */
  /* @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  } */
  
  /* fadeOutDown */
@keyframes btnExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}